@model JustGive.Models.ContactInfo
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.Label("Name:", "Name")
<p>@Model.Name</p>
<br />
@Html.Label("PhoneNumber", "Phone Number:")
<p>@Model.PhoneNumber</p>
<br />
@using (Html.BeginForm(actionName: "Edit", controllerName: "ContactInfo", method: FormMethod.Get, routeValues: new { id = Model.Id }))
{
    <button class="btn btn-primary col-lg-1" style="margin-right:5px" type="submit">Edit</button>
}
<br />
<br />
@using (Html.BeginForm(actionName: "Delete", controllerName: "ContactInfo", method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-primary col-lg-1" style="margin-right:5px" type="submit">Delete</button>
}