@model List<JustGive.Models.Location>
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
@foreach (var location in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Label("City", "City:")
            <p>@location.City</p>
            @Html.Label("Country", "Country:")
            <p>@location.Country</p>
            <br />
            @if (User.IsInRole("Admin"))
            {
                using (Html.BeginForm(actionName: "Details", controllerName: "Location", method: FormMethod.Get, routeValues: new { id = location.LocationId }))
                {
                    <button class="btn btn-primary">Details</button>
                }
            }
        </div>
    </div>

}

<br />


@using (Html.BeginForm(actionName: "New", controllerName: "Location", method: FormMethod.Get))
{
    <button class="btn btn-primary">Add new Location</button>
}
