@model JustGive.Models.Donation
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Donation", method: FormMethod.Post))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(d => d.DonationId)
    <br />
    @Html.Label("Title", "Title:")
    <br />
    @Html.EditorFor(d => d.Title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(d => d.Title, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Description", "Description:")
    @Html.TextAreaFor(d => d.Description, new { @class = "form-control", @rows = "10" })
    @Html.ValidationMessageFor(d => d.Description, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Location", "Location:")
    <br />
    @Html.DropDownListFor(d => d.LocationId, new SelectList(Model.LocationList, "Value", "Text"), "Choose a location", new { @class = "form-control" })
    @Html.ValidationMessageFor(d => d.LocationId, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(d => d.TagList, "Choose tags:")
    <br />
    for (int i = 0; i < Model.TagList.Count(); i++)
    {
        @Html.HiddenFor(d => d.TagList[i].Id)
        @Html.HiddenFor(d => d.TagList[i].Name)
        @Html.CheckBoxFor(d => d.TagList[i].IsChecked)
        @Html.DisplayFor(d => d.TagList[i].Name)
        <br />
    }
    <br />
    <button class="btn btn-primary" type="submit">Update</button>
}

