
@{
    ViewBag.Title = "Available Donations";
}

<h2>@ViewBag.Title</h2>

@foreach (var donation in ViewBag.Donations)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Label("Title", "Title:")
            <br />
            <p>@donation.Title</p>

            @Html.Label("Description", "Description:")
            <br />
            <p>@donation.Description</p>
            @using (Html.BeginForm(actionName: "Details", controllerName: "Donation",
                    method: FormMethod.Get, routeValues: new { id = donation.DonationId}))
            {
                <button class=" btn btn-primary">Details</button>
            }
        </div>
    </div>
}

@Html.ActionLink("Add donation", "New")


